{% extends "base.html" %}
{% block content %}
<div class="intro">
    <h1 class="intro-h1">TERMS AND CONDITIONS</h1>
</div>
<div class="container-flex read-box">
    <h4>These terms and conditions set out the terms of use that apply to the web application(s), including any updates, that we make available through our website basestone.io (respectively, Application and Website) and also the terms of service that apply to any of the services accessible through any such Application or through any application that we make available for download from any third party application store (collectively, Services).

        The Applications are provided by Ensign Advanced Systems Ltd, trading as BaseStone (we, us and our). We are a limited company, registered in England. Our registered company number is 02415174, and our registered office is 42 Lytton Road, New Barnet, Barnet, Hertfordshire, England, EN5 5BY. Our VAT registration number is 565 7796 77.
        
        BY ACCESSING AND/OR USING ANY APPLICATION OR SERVICE, YOU CONFIRM THAT YOU ACCEPT AND AGREE TO BE BOUND BY THESE TERMS AND ACKNOWLEDGE THAT THEY CONSTITUTE A LEGALLY BINDING CONTRACT BETWEEN US AND YOU (AND, IF RELEVANT, ANY ORGANISATION ON WHOSE BEHALF YOU ARE ACTING). IF YOU ARE ACTING ON BEHALF OF ANY ORGANISATION, YOU CONFIRM THAT YOU HAVE THE REQUISITE AUTHORITY, POWER AND RIGHT TO FULLY BIND THAT ORGANISATION. IF YOU (OR, IF RELEVANT, YOUR ORGANISATION) DO NOT AGREE TO ALL OF THESE TERMS (OR IF YOU DO NOT HAVE THE RIGHT TO BIND YOUR ORGANISATION), YOU ARE NOT PERMITTED TO ACCESS OR USE ANY APPLICATION OR SERVICE, AND YOU SHOULD NOT PROCEED FURTHER.
        
        In these terms and conditions, unless the context otherwise requires, all further references to you (and your, etc) means both you as an individual user and also the organisation on whose behalf you are acting (if any).
        
        We reserve the right to change the terms of these terms and conditions from time to time by changing them on the Website and notifying you (with the updated terms being displayed on-screen or with a link to the updated terms) when you next start the Application. These terms and conditions were last updated on 1 August 2014.
        
        Access to the Applications and Services
        Applications may only be accessed and used on a device owned or controlled by you and running the relevant operating system for which the Application concerned was designed, so you must make sure you have a compatible device which meets all the necessary technical specifications to enable you to use any Application you wish to access.
        
        Applications (or upgrades) you access and Services you request by registering to create an account with us (see Account set-up), are made available to you immediately and you acknowledge and agree that this is the case and that, therefore, you will have no right to change your mind and cancel under the Consumer Contracts Regulations (sometimes known as a ‘cooling off’ right) once you access the Application or you register to create your account (as the case may be).
        
        You will be assumed to have obtained permission from the owner of any device that is controlled, but not owned, by you to access an Application from that device. You accept responsibility, in accordance with these terms and conditions, for all access to, and use of, any Application by you on any device, whether or not it is owned by you.
        
        You acknowledge that the mobile service provider for any mobile device on which you access or use any Application or Service may charge for internet access (including mobile data usage) on that device.
        
        We cannot and do not guarantee the continuous, uninterrupted or error-free operability of any Application or Service or that any Application or Service will respond at a certain speed (since this depends on a number of factors outside our control).</h4>
</div>
{% endblock %}