{% extends "base.html" %}
{% block content %}

<<!-- Registerform -->
<br>
    <div class="container-flex reg-box" align="center">
        <img class="rocket" src="../static/images/regRocket.png" alt="">
        <h2 class="intro-reg-h1">REGISTER</h2>
        <form class="reg" method="post">


                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.userName.label}}
                    {{form.userName(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.passwordConfirm.label}}
                    {{form.passwordConfirm(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.submit(class="form-control")}}
                </div>
        </form>
        <br><br><br>
    </div>
{% endblock %}
